#header {
  text-align: center;
  font-family: 'Questrial', sans-serif;
  background-color: #552583;
  color: white;
}
#image {
  display:block;
  margin: auto;
  max-width:100%;
  border-radius: 15px;
}
#img-caption {
  margin: auto;
  width: 50%;
  border-radius: 15px;
  text-align: center;
  color: black;
  background-color: white;
  padding: 15px;
}

#tribute-info {
  margin:auto;
  width: 50%;
  color: black;
  padding: 25px;
  border-radius: 15px;
  background-color: white;
  text-align: center;
}

#tribute-link {
  width: 100%;
  background: #552583;
  color: white;
  padding:15px;
  display:block;
  text-align: center;
}

footer {
  margin-top: 25px;
  display: flex;
}
#main {
  background-color: yellow;
}
